$primary-color: #363c3c;
$secundary-color: #BFA250;
$gradient-color: linear-gradient(180deg #BFA250, #ffe787);
$text-color: #fff;
$footer-text: #a0a1a1;

@mixin easeOut {
	transition: all 0.5s ease-out;
}

@mixin bg-img($url, $height) {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url($url);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: $height;
	width: 100vw;
}
