/* ------------------------------------ */
/* FOOTER */
/* ------------------------------------ */

.footer {
	background: darken($primary-color, 7);
	display: flex;
	flex-direction: column;
	padding: 1.5rem 0;

	&__links {
		display: flex;
		width: 100%;
		justify-content: space-between;

		& li {
			display: inline-block;
			list-style: none;

			& a {
				text-decoration: none;
				color: $footer-text;
				padding: 0 10px;

				&:hover {
					color: $secundary-color;
					@include easeOut;
				}
			}
		}

		&-104 {
			width: 50%;
			text-align: left;
		}

		&-social {
			width: 50%;
			text-align: right;
			font-size: 2rem;
		}
	}

	&__copy {
		color: $footer-text;
		font-size: 0.8rem;
		padding: 1.5rem 0 0;
		text-align: center;

		& p {
			margin-top: 20px;

			& a {
				text-decoration: none;
				color: $secundary-color;

				&:hover {
					text-decoration: underline;
					@include easeOut;
				}
			}
		}
	}
}
