.menu-header {
	@include bg-img('../img/hero-menu.jpg', 80vh);
}

// older code


.menus {
	margin: 3%;

	&__titles {
		font-weight: 500;
		margin-bottom: 1.5rem;

		&-information {
			text-align: center;
			margin-bottom: 4rem;
		}
	}
}

.menus__items {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.menus__courses {
	text-decoration: underline;
	font-weight: 300;
	margin: 60px 0 30px;
}

.menu__item {
	font-size: 1rem;
	font-weight: 300;
	display: inline-block;
}

.menu__alergen {
	font-size: 0.6rem;
	display: inline-block;
	text-transform: none;
}

.menu__vegetarian {
	width: 20px;
	height: 20px;
}

.menu__item-description {
	font-size: 0.85rem;
	font-weight: 200;
	padding-top: 5px;
	min-width: 80%;
}

.menu__price {
	font-size: 1rem;
	font-weight: 200;
	text-align: right;
}

.menus__morning-menu {
	padding: 4rem 0 4rem;
}

.menus__lunch-menu {
	padding: 4rem 0 4rem;
}

.menus__dinner-menu {
	padding: 4rem 0 4rem;
}

.menus__brunch-menu {
	padding: 4rem 0 4rem;
}

.menus__kids-menu {
	padding: 4rem 0 4rem;
}

.menus__dessert-menu {
	padding: 4rem 0 4rem;
}

hr {
	width: 100%;
	background-color: #fff;
	height: 3px;
	margin: 4rem 0;
}

.menu__buttons {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-top: 40vh;	
}