
@media only screen and (max-width: 5000px) {
	.container {
		padding: 0 2%;
	}

  .mobile-navbar {
    display: none;
  }
}

/* Big tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
	.container {
		padding: 0 2%;
	}
}

/* Small tablets to big tablets: 768 to 1024px */
@media only screen and (max-width: 1024px) {
	body {
		font-size: 18px;
	}

	.container {
		padding: 0 2%;
	}

  

	.footer {
		display: flex;
		flex-direction: column;
		padding: 2rem 0;

		&__links {
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;
			width: 100%;

			& li {
				display: inline-block;
				list-style: none;

				& a {
					text-decoration: none;
					color: $footer-text;
					padding: 0 10px;

					&:hover {
						color: $secundary-color;
						@include easeOut;
					}
				}
			}

			&-104 {
				width: 100%;
				text-align: center;
				font-size: 1rem;
				padding-bottom: 2rem;
			}

			&-social {
				width: 100%;
				text-align: center;
				font-size: 2rem;
				padding-bottom: 2rem;
			}
		}
	}
}

@media only screen and (max-width: 860px) {
  html {
    scroll-behavior: auto;
  }
  .navbar {
    display: none;
	}

  .mobile-navbar {
    display: block;
  }

}

/* Small phones to small tablets: 481 to 767px */
@media only screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}

	.container {
		padding: 0;
	}

	.home-header {
		@include bg-img-fixed('../img/hero-mobile.jpg', 100vh);
	}

	.menu-header {
		@include bg-img-fixed('../img/hero-menu-mobile.jpg', 85vh);
	}	
 
	.btn {
		display: block;
		padding: 10px 0;
		margin: 10px 0;
		font-size: 120%;
		text-align: center;		
		
		&__menu {
			align-self: center;
			margin: 8px 0;
			padding: 10px 0;
		}
	}

	.menu__buttons {
		flex-direction: column;
		padding: 15% 0;
	}	 

	a {
		border: 0;
	}	

	h2 {
		font-size: 160%;
	}

	.content {
		flex-direction: column;
	}

	.content-reverse {
		flex-direction: column;
	}

	.content-box img {
		width: 95vw;
		height: 100%;
	}

	.content-box h3 {
		width: 100%;
		font-size: 160%;
	}

	.content-box h2 {
		width: 100%;
		font-size: 170%;
	}

	.content-box p {
		width: 90vw;
		font-size: 110%;
		margin: 0 0 20px;
	}

	.section-testimonials {
	@include bg-img-fixed('../img/bg-customer-2-mobile.jpg', 100%);		
		padding: 5% 0;

		.testimonials {
			flex-direction: column;

			blockquote {
				margin-top: 70px;
			}
		}
	}

	.contact {
		&__text {
			margin: 40px 15px;
		}

		&__infos {
			flex-direction: column;
		}

		&__contacts {
			&-hours {
				& .opening {
					width: 100vw;
				}
			}
		}

		&__map {
			width: 95vw;
			height: 50vh;
		}
	}

	.menus__items {
		justify-content: flex-start;
		flex-direction: column;
	}

	.menu__price {
		text-align: left;
	}
}

/* Small phones: from 370px to 480px */
@media only screen and (max-width: 480px) {
	section {
		padding: 25px 0;
	}

  .menu-header {
		@include bg-img-fixed('../img/hero-menu-mobile.jpg', 92vh);
	}

}
