.section-testimonials {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url('../img/bg-testimonials2.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	position: fixed;
	padding: 5% 0;

	.testimonials {
		display: flex;
		justify-content: center;

		blockquote {
			padding: 2%;
			font-style: italic;
			line-height: 145%;
			position: relative;
			margin-top: 40px;
			text-shadow: 2px 2px 1px #000;

			&:before {
				content: '\201C';
				font-size: 500%;
				display: block;
				position: absolute;
				top: -5px;
				left: -5px;
			}

			cite {
				font-size: 90%;
				margin-top: 25px;
				display: block;
			}
		}
	}
}
