.section-testimonials {
	@include bg-img-fixed('../img/bg-testimonials2.jpg', 100%);
	padding: 5% 0;

	.testimonials {
		display: flex;
		justify-content: center;

		blockquote {
			font-style: italic;
			line-height: 145%;
			margin-top: 40px;
			padding: 2%;
			position: relative;
			text-shadow: 2px 2px 1px #000;

			&:before {
				content: '\201C';
				display: block;
				font-size: 500%;
				left: -5px;
				position: absolute;
				top: -5px;
			}

			cite {
				display: block;
				font-size: 90%;
				margin-top: 25px;
			}
		}
	}
}
