@import 'config', 'menu', 'testimonials';

//style.css
/* ------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: $primary-color;
	color: $text-color;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	letter-spacing: 1px;
	scroll-behavior: smooth;
}

/* ------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------ */
.row {
	max-width: 1250px;
	margin: 0 auto;
}

/* -------Headings-------- */
h1,
h2,
h3 {
	text-transform: uppercase;
	font-weight: 300;
	padding: 0;
}

h1 {
	font-size: 350%;
	margin: 0 0 5%;
	letter-spacing: 1.5%;
}

h2 {
	margin: 0 auto 5%;
	font-size: 250%;
	text-align: center;
}

/* -------Buttons-------- */
.btn:link,
.btn:visited,
input[type='submit'] {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 10px;
	color: $text-color;
	@include easeOut;
}

.btn-full:link,
.btn-full:visited,
input[type='submit'] {
	background: $secundary-color;
	border: 1px solid $secundary-color;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid $secundary-color;
	color: $secundary-color;
}

.btn:hover,
.btn:active,
input[type='submit']:hover,
input[type='submit']:active {
	background: darken($secundary-color, 7);
}

.btn-full:hover,
.btn-full:active,
input[type='submit']:hover,
input[type='submit']:active {
	background: darken($secundary-color, 7);
	border: 1px solid darken($secundary-color, 7);
}

.btn-ghost:hover,
.btn-ghost:active {
	background: darken($secundary-color, 7);
	border: 1px solid darken($secundary-color, 7);
	color: $text-color;
}

/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */
.home-header {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../img/hero.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.hero-text {
	color: $text-color;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
	height: 50%;
}

.hero-text .btn-full:link,
.hero-text .btn-full:visited {
	margin-right: 15px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	background: rgba(0, 1, 0.5, 0.5);

	.logo {
		position: fixed;
		left: 5%;
		width: 130px;
		margin: 20px 0 0;
	}

	.main-nav {
		position: fixed;
		right: 5%;
		list-style: none;
		margin-top: 60px;

		& li {
			display: inline-block;
			margin-left: 20px;

			& a:link,
			& a:visited {
				color: $text-color;
				text-decoration: none;
				text-transform: uppercase;
				border-bottom: 1px solid transparent;
				padding-bottom: 5px;
				@include easeOut;

				&:hover,
				&:active {
					border-bottom: 3px solid $secundary-color;
				}
			}
		}
	}
}

/* ------------------------------------ */
/* CONTENT */
/* ------------------------------------ */
.section-content {
	margin: 9% auto 0;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 0 auto 9%;
}

.content-reverse {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	margin: 0 auto 9%;
}

.content-box {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 49%;
}

.content-box img {
	width: 95%;
	height: 95%;
}

.content-box h3 {
	width: 90%;
	margin: 0 auto 4%;
	font-size: 170%;
	color: $secundary-color;
}

.content-box h2 {
	width: 90%;
	margin: 0 auto 5%;
	font-size: 190%;
}

.content-box h2 span {
	font-style: italic;
}

.content-box p {
	width: 75%;
	margin: 0 auto 6%;
	font-size: 120%;
}

/* ------------------------------------ */
/* CONTACT */
/* ------------------------------------ */
.contact {
	margin: 6% auto;
}

.contact__title {
	padding-bottom: 1.5%;
}

.opening h3 {
	padding-bottom: 20px;
}

.opening p,
.contacts p {
	line-height: 145%;
}

.icon-contact {
	display: inline-block;
	font-size: 130%;
	margin-bottom: 10px;
	width: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 145%;
	margin-top: 6px;
}

.map {
	width: 80vw;
	height: 50vh;
	margin: auto;
}

.location__text {
	margin: 100px 10px 50px;
	text-align: center;
	font-size: 1.3rem;
}

.contact-form {
	margin: 75px auto 0;
}

input[type='text'],
input[type='email'],
input[type='number'],
select,
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid $text-color;
	outline-color: $secundary-color;
	margin: 7px 0 15px;
}

textarea {
	height: 100px;
}

input[type='checkbox'] {
	margin: 10px 5px 10px 0;
}

/* ------------------------------------ */
/* FOOTER */
/* ------------------------------------ */
footer {
	background: #20271f;
	padding: 45px;
	font-size: 95%;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links {
	list-style: none;
	float: right;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #888;
	@include easeOut;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
	color: #ddd;
}

.footer__icon {
	font-size: 2rem;
	@include easeOut;
}

.footer__icon:hover {
	color: $text-color;
}

footer p {
	color: #888;
	text-align: center;
	font-size: 90%;
	margin-top: 20px;
}

.contact__icon {
	padding-right: 0.6rem;
}

.contact__info {
	color: $text-color;
	display: block;
	line-height: 1.45rem;
	margin-bottom: 1.5rem;
	text-decoration: none;
}

.contact__info:hover {
	text-decoration: underline;
	text-decoration-color: $secundary-color;
}

@import 'mobile';
