@import 'config', 'menu', 'testimonials', 'contact';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: $primary-color;
	color: $text-color;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.45;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	letter-spacing: 1px;
	scroll-behavior: smooth;
}

/* ------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------ */
.row {
	max-width: 1450px;
	margin: 0 auto;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	font-weight: 300;
	padding: 0;
}

h1 {
	font-size: 350%;
	margin: 0 0 5%;
	letter-spacing: 1.5%;
}

h2 {
	margin: 0 auto 5%;
	font-size: 250%;
	text-align: center;
}

/* -------Buttons-------- */
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 10px 10px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 10px;
	color: $text-color;
	@include easeOut;
}

.btn-full:link,
.btn-full:visited,
input[type='submit'] {
	background: $secundary-color;
	border: 1px solid $secundary-color;
}

.btn-ghost:link,
.btn-ghost:visited {
	background: transparentize(#000, 0.8);
	border: 1px solid $secundary-color;
	color: $secundary-color;
}

.btn:hover,
.btn:active,
input[type='submit']:hover,
input[type='submit']:active {
	background: darken($secundary-color, 7);
}

.btn-full:hover,
.btn-full:active,
input[type='submit']:hover,
input[type='submit']:active {
	background: darken($secundary-color, 7);
	border: 1px solid darken($secundary-color, 7);
}

.btn-ghost:hover,
.btn-ghost:active {
	background: transparentize($secundary-color, 0.7);
	border: 1px solid $secundary-color;
	color: $text-color;
}

.btn-top {
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border-radius: 10px;
	color: $text-color;
	@include easeOut;
	z-index: 999;
}

/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */
.home-header {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../img/hero.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.menu-header {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../img/hero-menu.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.hero-text {
	color: $text-color;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
	height: 50%;
}

.navbar {
	display: flex;
	justify-content: space-between;

	.logo {
		left: 5%;
		width: 130px;
		margin: 20px 0 0;
	}

	.main-nav {
		right: 5%;
		list-style: none;
		margin-top: 60px;

		& li {
			display: inline-block;
			margin-left: 20px;

			& a:link,
			& a:visited {
				color: $text-color;
				text-decoration: none;
				text-transform: uppercase;
				border-bottom: 1px solid transparent;
				padding-bottom: 5px;
				@include easeOut;

				&:hover,
				&:active {
					border-bottom: 3px solid $secundary-color;
				}
			}
		}
	}
}

/* ------------------------------------ */
/* CONTENT */
/* ------------------------------------ */
.section-content {
	margin: 9% auto 0;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 0 auto 9%;
}

.content-reverse {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	margin: 0 auto 9%;
}

.content-box {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 49%;
}

.content-box img {
	width: 95%;
	height: 95%;
}

.content-box h3 {
	width: 90%;
	margin: 0 auto 4%;
	font-size: 170%;
	color: $secundary-color;
}

.content-box h2 {
	width: 90%;
	margin: 0 auto 5%;
	font-size: 190%;
}

.content-box h2 span {
	font-style: italic;
}

.content-box p {
	width: 75%;
	margin: 0 auto 6%;
	font-size: 120%;
}

/* ------------------------------------ */
/* FOOTER */
/* ------------------------------------ */

.footer {
	background: darken($primary-color, 7);
	display: flex;
	flex-direction: column;
	padding: 1.5rem 0;

	&__links {
		display: flex;
		width: 100%;
		justify-content: space-between;

		& li {
			display: inline-block;
			list-style: none;

			& a {
				text-decoration: none;
				color: $footer-text;
				padding: 0 10px;

				&:hover {
					color: $secundary-color;
					@include easeOut;
				}
			}
		}

		&-104 {
			width: 50%;
			text-align: left;
		}

		&-social {
			width: 50%;
			text-align: right;
			font-size: 2rem;
		}
	}

	&__copy {
		color: $footer-text;
		font-size: 0.8rem;
		padding: 1.5rem 0 0;
	}
}

@import 'mobile';
