@import 'config', 'buttons', 'menu', 'testimonials', 'contact', 'footer';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

html {
	background: $primary-color;
	color: $text-color;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.45;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;	
	scroll-behavior: smooth;
	scroll-padding-top: 30px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	font-weight: 300;
	padding: 0;
}

h1 {
	font-size: 350%;
	margin: 0 0 5%;
	letter-spacing: 1.5px;
}

h2 {
	margin: 0 auto 5%;
	font-size: 250%;
	text-align: center;
}

/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */
.home-header {
	@include bg-img-fixed('../img/hero.jpg', 100vh);
}

.hero-text {
	color: $text-color;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
	height: 50%;
}

.navbar {
	display: flex;
	justify-content: space-between;

	.logo {
		left: 5%;
		width: 130px;
		margin: 20px 0 0;
	}

	.main-nav {
		right: 5%;
		list-style: none;
		margin-top: 60px;

		& li {
			display: inline-block;
			margin-left: 20px;

			& a:link,
			& a:visited {
				color: $text-color;
				text-decoration: none;
				text-transform: uppercase;
				border-bottom: 1px solid transparent;
				padding-bottom: 5px;
				@include easeOut;

				&:hover,
				&:active {
					border-bottom: 3px solid $secundary-color;
				}
			}
		}
	}
}

.mobile-navbar {
	background: $primary-color;
	width: 75vw;
	height: 100vh;
	padding: 10px;

	position:absolute;
	left: -100vw;
	top: 50px;
	transition: left .25s;
	z-index: 9999999;

	&__logo {
		width: 100px;
	}
}

.mobile-navbar--ative {
	left: 0;
	transition: left .25s;
}

/* ------------------------------------ */
/* CONTENT */
/* ------------------------------------ */
.section-content {
	margin: 9% auto 0;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 0 auto 9%;
}

.content-reverse {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	margin: 0 auto 9%;
}

.content-box {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 49%;
}

.content-box img {
	width: 95%;
	height: 95%;
}

.content-box h3 {
	width: 90%;
	margin: 0 auto 4%;
	font-size: 170%;
	color: $secundary-color;
}

.content-box h2 {
	width: 90%;
	margin: 0 auto 5%;
	font-size: 190%;
}

.content-box h2 span {
	font-style: italic;
}

.content-box p {
	width: 75%;
	margin: 0 auto 6%;
	font-size: 120%;
}

@import 'mobile';
