
/* main-header is jsut temporary */
.main-header {
    height: 20vh;
  }

  .main-size {
    height: 60vh;
    
  }
 
  .footer-size {
      height: 20vh;
  }

.about__title {
    font-size: 5rem;
    font-weight: 700;
}

.about__subtitle {
    font-size: 2rem;
    text-align: left;
    text-transform: none;
}

.about__link-subtitle {
    text-decoration: none;
    color: var(--color-primary);
}