.menus {
	margin: 3%;
}

.menus__titles {
	font-weight: 500;
}

.menus__items {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.menus__courses {
	text-decoration: underline;
	font-weight: 500;
	margin-top: 50px;
}

.menu__item {
	font-size: 1rem;
	font-weight: 500;
	display: inline-block;
}

.menu__alergen {
	font-size: 0.6rem;
	display: inline-block;
	text-transform: none;
}

.menu__item-description {
	font-size: 0.85rem;
	padding-top: 5px;
	min-width: 80%;
}

.menu__price {
	font-size: 1rem;
	font-weight: 500;
	text-align: right;
}

.menus__morning-menu {
	background-color: #fff;
	color: var(--color-text);
	padding: 4rem;
}

.menus__lunch-menu {
	padding: 4rem;
}

.menus__dinner-menu {
	background-color: #fff;
	color: var(--color-text);
	padding: 4rem;
}

.menus__brunch-menu {
	padding: 4rem;
}
