/* Big tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {

}

/* Small tablets to big tablets: 768 to 1024px */
@media only screen and (max-width: 1024px) {
  body { font-size: 18px;}

  .row { padding: 0 2%; }

  .hero-text {
    left: 30%;
    transform: translate(19%,-50%);
  }

  .days { padding-right: 35%; }

  .hours { padding-left: 11%; }

  .contact-form { padding: 0; }

  footer { padding: 10px; }
}

/* Small phones to small tablets: 481 to 767px */
@media only screen and (max-width: 767px) {

}

/* Small phoones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  
}
